*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
header{
    min-height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}


.items{
    margin-left: auto;
    margin-right: 75px;
}

#logo{
    margin-top: 15px;
    text-align: center;
    margin-left: 100px;
    
 
}

#logo .name{
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 25px;
}

#logo .job{
    margin-top: 0;
    font-style: italic;
}
/*Main*/
#main{
    padding: 115px 0px;
    z-index: 0;
    position: relative;
}

/*Cover*/

.cover{
    text-align: center;
    width: 100%;
    background-image: url("../img/img1.jpg");
    background-color: violet;
    min-height: 550px;
}

.cover div > h1{
    color: white;
    padding: 220px 0 0 0;
    font-weight: bolder;
}

.cover div > button{
    margin-top: 55px;
    background-color: white;
    color:black;
    border-style: none;
    width: 100px;
    height: 35px;
    font-weight: 600;
}

.cover button>span{
    padding:  25px 5px;
    top: 15px;
}

/*Row content*/
.row-content{
    margin-top: 32px;
    display: flex;
}

.row-content .photo{
 
    margin: 0 auto 0 auto;
}



/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .row-content{

    }
 }

