* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
    color: black
}

.navbar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.names {
    margin-left: 10px;
}

.name {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.navbar-brand img {
    width: 100px;
}

.navbar-collapse {
    width: 100%;
}
/*
.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}*/
  
.nav-link:hover{
    color: #287b50 !important;
    font-weight: bolder;
}


/*flex childs*/

#navbar {
    top: 0;
    min-height: 100px;
    margin: 0;
    padding: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
}

/*Main*/



/*Cover*/

#welcome-section {
    background-image: url('../img/img2.jpg');
    background-size: cover;
    min-height: 250px;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-size: 3.2rem;
    color: black;
    text-align: center;
    position: relative;
}

h1 {
    top: 25px;
}

.cover h2 {
    top: 250px;
}

.cover button {
    margin: 60px auto;
    text-align: center;
    border: 0px solid lightgray;
    width: 170px;
    height: 50px;
}

/* rows*/
section {
    transition: transform 1s, opacity 1s;
  }
  
.section{
    transition: transform 1s, opacity 1s;
}
.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
.container {
    width: 100% !important;
}

.section-content {
    margin-top: 45px;
    margin-bottom: 100px;
}

.row-content {
    margin-bottom: 60px;
}

.img-profile {
    border-bottom-left-radius: 80px;
}

.btn-green {
    border: 0px solid white;
    background-color: #287b50;
    color: white;
    height: 35px;
}

.btn-green:hover {
    font-weight: bold;
}

.btn-green a {
    color: white;
}

.info {
    text-align: center;
}

.elem-info1 {
    color: #287b50;
    font-weight: bold;
}

.element h4 {
    font-style: italic;
}

.element img {
    width: 150px;
}

/*about me*/

.element img:hover {
    transform: scale(1.1);
}

/*Projects*/

#projects {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.projects-section {
    height: 250px;
    background-color: white;
}

.projects-section h2 {
    position: relative;
    top: 40px;
}

.projects-section p {
    margin-top: 90px;
    text-align: center;
}

.projects-section p .highlighted {
    font-weight: bold;
    font-style: italic;
}

.projects-container {
    margin-top: 50px;
}

.projects-container .row {
    justify-content: space-around;
}

.project {
    position: relative;
    flex-grow: 0;
    flex-basis: 300px;
    margin-bottom: 35px;
}

.project span {
    text-align: center;
    font-size: 18px;
}

.project-tile {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 0px;
    height: auto;
    line-height: 265px;
}

.project-tile a {
    color: white;
}

.project p {
    padding: 15px;
    text-align: justify;
}

.project-tile:hover {
    font-size: 28px;
    padding: 0;
    color: white;
    font-weight: bold;
    background: rgba(44, 139, 54, 0.8);
   cursor: pointer; 
}

.project-tile span:hover {
    transform: scale(4);
    padding: 0;
    color: black;
}

.project img {
    margin: 15px auto 0 auto;
}

/*Contact */

#contact {
    position: relative;
    top: 55px;
    width: 75%;
    background-color: #287b50;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    text-align: center;
    color: white;
}

#contact .elem1 {
    margin-left: 2%;
    font-weight: bolder;
    font-size: 1.1rem;
}

#contact .elem3 {
   
    border: 1px solid white;
}
#contact .elem3 a{
    color: white;

}

#contact .elem3:hover {
    color: #287b50;
    background-color: white;
    color: black;
}

#contact .elem3:hover a {
    color: black;
}
/*footer*/

#footer {
    background-color: black;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
}

#footer ul {
    width: 100%;
    text-align: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

#footer .navs li {
    padding: 100px 25px 0px 25px;
}

#footer ul li a {
    color: white;
}

.icon {
    padding: 20px 75px 0px 75px;
    font-size: 2rem;
}

ion-icon {
    color: white;
}

/*Modal window*/

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.hiddens {
    visibility: hidden;
    opacity: 0;
}

.modals {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
}

.overlays {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

@media (max-width:991px) {
    .navbar {
        flex-direction: column;
    }
    .navbar-brand button {
        margin-left: 50px;
    }
    .navbar-nav {
        text-align: center;
    }
}

@media (max-width:767px) {
    .element {
        margin-bottom: 30px;
    }
}

@media (max-width:563px) {
    h1, h2 {
        font-size: 2.5rem;
    }
    .cover button {
        margin: 0px auto;
    }
}